$icon-color: #ccd4e6;
$element-color: #dfe5f0;
$white-color: #fff;
$text-color: #2f3441;
$accent-color: #00aaff;
$primary-color: #002882;
$bg-color: #f3f7fa;
$line-color: #eaf1f6;

// dark

$dark-bg-color: #0b0c0e;
$dark-text-color: #ffffff;
$dark-element-color: #2f3441;
$dark-block-bg-color: #1d202a;
$dark-icon-color: #4a5168;
