@import "./colors.scss";

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: $white-color;
    padding: 22px 24px 22px 260px;

    .logo {
        position: absolute;
        top: 22px;
        left: 24px;
        display: block;
        width: 187px;
        height: 36px;

        svg {
            width: inherit;
            height: inherit;
        }
    }
}

.main-menu {
    position: relative;
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        color: $text-color;
        margin: 0 40px 0 0;

        // &:nth-child(1) {
        //     width: 174px;
        // }
        // &:nth-child(2) {
        //     width: 132px;
        // }
        // &:nth-child(3) {
        //     width: 105px;
        // }

        &:hover {
            color: $primary-color;
        }

        &.active {
            color: $primary-color;
            font-weight: 600;
        }
        &:hover,
        &.active {
            svg {
                fill: $accent-color;
            }
        }

        &.disabled {
            color: $icon-color;
            pointer-events: none;
            outline: none;
            svg {
                fill: $icon-color;
                opacity: 0.4;
            }
        }
    }
}

.nav-icon {
    // width: 24px;
    // height: 24px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
    fill: $icon-color;
}

.portal-options {
    position: relative;
    display: flex;
    align-items: center;

    div {
        margin: 0 0 0 32px;
    }

    .toggle-themestyles {
        svg {
            width: 56px;
            height: 28px;
        }
    }
    .settings {
        margin: 4px 0 0 24px;
        svg {
            width: 24px;
            height: 24px;
            fill: $icon-color;
        }
        &:hover {
            svg {
                cursor: pointer;
                fill: $primary-color;
            }
        }
    }
}

// Стили для тёмной темы
body.dark {
    header {
        background: $dark-block-bg-color;
    }
    .main-menu {
        a {
            color: $white-color;

            svg {
                fill: $dark-icon-color;
            }

            &:hover,
            &.active {
                svg {
                    fill: $accent-color;
                }
            }

            &.disabled {
                color: $dark-icon-color;
                svg {
                    fill: $dark-icon-color;
                }
            }
        }
    }
}
