@import "./colors.scss";

aside {
    position: relative;
    display: flex;
    flex: 0 0 350px;
    height: 100%;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 0 0 24px;
}

.reports-page {
    display: flex;

    // для демо, потом __demo и всё внутри удалить
    &__demo {
        display: flex;

        main {
            margin: 0;

            .report-card__list-wrapper {
                margin: 0;
                padding: 0;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}

.report-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header {
        position: relative;
        margin: 0 0 16px 0;
    }

    &__title {
        font-size: 24px;
        line-height: 120%;
        font-weight: 500;

        span {
            font-weight: 400;
            color: $icon-color;
        }
    }

    &__content {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    &__description {
        position: relative;

        .description {
            position: relative;
            display: block;
            background: $white-color;
            border-radius: 8px;
            padding: 40px 16px 16px 40px;

            &__icon {
                position: absolute;
                width: 16px;
                height: 16px;
                top: 16px;
                left: 16px;
                fill: $accent-color;
            }

            &__name {
                position: absolute;
                top: 12px;
                left: 40px;
                font-size: 16px;
                font-weight: 500;
                color: $primary-color;
            }
        }
    }

    &__tabs {
        position: relative;
        height: 100%;
    }

    &__list-wrapper {
        position: relative;
        padding: 24px 0 0 0;

        .cardlist {
            position: relative;
            width: calc(100% + 24px);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex: 1 0 20%;
                width: 100%;
                margin: 0 24px 24px 0;
                background: $white-color;
                border-radius: 8px;
                padding: 16px;

                .item-image {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    // padding-top: 56.25%;
                    background: $bg-color;

                    .no-image {
                        position: absolute;
                        display: flex;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;

                        svg {
                            position: relative;
                            display: block;
                            height: 80px;
                            fill: #dfe5f0;
                        }
                    }
                }
                .item-options {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin: 16px 0;

                    &__date {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: $white-color;
                        height: 32px;
                        background: $accent-color;
                        border-radius: 8px;
                        padding: 0 10px;

                        svg {
                            width: 16px;
                            height: 16px;
                            fill: $white-color;
                            margin: 0 8px 0 0;
                        }
                    }
                }
                .item-title {
                    position: relative;
                    display: block;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 500;
                    color: $text-color;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
                        0px 2px 6px rgba(0, 0, 0, 0.04),
                        0px 0px 1px rgba(0, 0, 0, 0.04);
                }

                &.demo {
                    background: #e9f0f5;
                    pointer-events: none;
                    min-height: 350px;
                }
            }
        }
    }

    &__information {
        position: relative;
        display: flex;
        flex-direction: column;

        &-item {
            position: relative;
            margin: 0 0 24px 0;

            h2 {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin: 0 0 4px 0;
                padding: 0;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

// Стили для тёмной темы
body.dark {
    .report-card {
        &__description {
            .description {
                background: $dark-block-bg-color;
                &__name {
                    color: $accent-color;
                }
                &__text {
                    color: $dark-text-color;
                }
            }
        }
        &__list-wrapper {
            .cardlist {
                &__item {
                    background: $dark-block-bg-color;

                    .item-image {
                        background: $dark-element-color;

                        .no-image {
                            svg {
                                fill: $dark-icon-color;
                            }
                        }
                    }

                    .item-title {
                        color: $dark-text-color;
                    }

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
