@import "./colors.scss";

.adaptive-table-container {
    width: 100%;
    overflow-x: auto;
}

.adaptive-table {
    width: 100%;
    border-collapse: collapse;
}

.adaptive-table th,
.adaptive-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.adaptive-table th {
    background-color: #f2f2f2;
}
