@import "./colors.scss";

#left-sidebar {
    position: relative;
    display: block;
    width: 350px;
    height: 100%;
    background: $white-color;
    border-radius: 8px 8px 0 0;
}
.left-sidebar {
    &__functions {
        position: relative;
        display: flex;
        width: calc(100% - 48px);
        height: 40px;
        background: $bg-color;
        margin: 24px 24px 48px 24px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            margin: 24px 0 0 0;
            background: $line-color;
        }
    }

    &__menu {
        position: relative;
        display: block;
        // height: 100%;
        padding: 0 24px 24px 24px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-item {
            position: relative;
            display: block;
            padding-left: 16px + 8px;
            margin: 0 0 16px 0;

            &--name {
                color: $text-color;
                font-size: 16px;
                line-height: 22px;
            }

            &--toggle {
                position: absolute;
                top: 2px;
                left: 0;
                width: 16px;
                height: 16px;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: $icon-color;
                }
            }

            &[dept="2"] {
                margin-left: 24px;
            }
            &[dept="3"] {
                margin-left: 48px;
            }
            &[dept="4"] {
                margin-left: 72px;
            }
            &[dept="5"] {
                margin-left: 96px;
            }
            &[dept="6"] {
                margin-left: 120px;
            }
            &[dept="7"] {
                margin-left: 144px;
            }
            &[dept="8"] {
                margin-left: 168px;
            }
        }
    }
}
